body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-image: url("/images/bg-intro-desktop.png");
  background-color: #ff7a7a;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.main-container .left-container {
  width: 45%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .left-container #mainheading {
  font-size: 50px;
  font-weight: 700;
  padding: 1% 4%;
  margin: 0;
  line-height: 55px;
}

.main-container .left-container #small-content {
  font-size: 16px;
  padding: 1% 4%;
  color: rgba(243, 241, 241, 0.993);
}

.main-container .right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

.main-container .right-container .upper-block {
  width: 480px;
  text-align: center;
  margin: 4% 0;
  background-color: #6055a5;
  color: white;
  padding: 4% 0;
  border-radius: 5px;
  -webkit-box-shadow: 4px 8px 5px 0px rgba(43, 55, 50, 0.486);
          box-shadow: 4px 8px 5px 0px rgba(43, 55, 50, 0.486);
}

.main-container .right-container .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 5px;
  width: 480px;
  height: 400px;
  -webkit-box-shadow: 4px 8px 5px 0px rgba(43, 55, 50, 0.486);
          box-shadow: 4px 8px 5px 0px rgba(43, 55, 50, 0.486);
}

.main-container .right-container .form-container input[type=text] {
  width: 340px;
  height: 27px;
  margin: 2%;
  font-size: 15px;
  padding: 2% 4%;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #b9b6d3;
}

.main-container .right-container .form-container input[type=password] {
  width: 340px;
  height: 27px;
  margin: 2%;
  font-size: 15px;
  padding: 2% 4%;
  border-radius: 5px;
  font-weight: 700;
  border: 1px solid #b9b6d3;
}

.main-container .right-container .form-container button {
  width: 380px;
  height: 50px;
  margin: 2%;
  padding: 2% 5%;
  background-color: #38cc8c;
  font-weight: 700;
  border-radius: 5px;
  color: white;
  border: none;
  text-transform: uppercase;
}

.main-container .right-container .form-container #small-text {
  margin: 1%;
  width: 100%;
  padding: 0 2%;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  color: #b9b6d3;
}

@media only screen and (max-width: 500px) {
  .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .main-container .left-container {
    margin: 10%;
    padding: 5% auto;
    width: 100%;
    text-align: center;
  }
  .main-container .left-container #mainheading {
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
  }
  .main-container .left-container #small-content {
    width: 80%;
    font-size: 16px;
  }
  .main-container .right-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .main-container .right-container .upper-block {
    width: 200px;
    height: 40px;
    padding: 4% 14%;
    text-align: center;
    font-size: 14px;
  }
  .main-container .right-container .form-container {
    width: 300px;
    height: 350px;
    margin-bottom: 5%;
  }
  .main-container .right-container .form-container input[type=text] {
    width: 200px;
    height: 30px;
    font-size: 14px;
  }
  .main-container .right-container .form-container input[type=password] {
    width: 200px;
    height: 30px;
    font-size: 14px;
  }
  .main-container .right-container .form-container button {
    width: 235px;
    height: 42px;
  }
  .main-container .right-container .form-container #small-text {
    width: 70%;
    font-weight: bolder;
  }
}
/*# sourceMappingURL=style.css.map */